@{
    DefenceStore.Models.Customer cust = (DefenceStore.Models.Customer)Session["Customer"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Defence Store</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light customNavbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand navLink">@Html.ActionLink("Defence Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navLink" })</a>
                </div>
                <ul class="nav navbar-nav">

                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navLink" })</li>
                    <li class="nav-item">@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "navLink" })</li>
                    <li class="nav-item">@Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "navLink" })</li>
                    <li class="nav-item">@Html.ActionLink("Manufactors", "Index", "Manufactors", new { area = "" }, new { @class = "navLink" })</li>

                    @if (cust != null && cust.IsAdmin)
                    {
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "Customers", new { area = "" }, new { @class = "navLink" })</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LimitedLogin")
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <center>
            <div id="temperatureDiv">
                <br /><hr />
                <h4>Weather in Rishon Lezion</h4>
                <p>getting info...</p>
            </div>
        </center>
        <!-- Weather webservice -->
        <script src="~/Scripts/weather.js"></script>
        <script src="https://query.yahooapis.com/v1/public/yql?q=select item, wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='Rishon LeZion, il') and u='c'&format=json&callback=weatherCallback"></script>
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - EST - IDF </p>
            </center>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>