@model IEnumerable<DefenceStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        if (Session["Customer"] != null && ((DefenceStore.Models.Customer)Session["Customer"]).IsAdmin)
        {
            @Html.ActionLink("Create New", "Create");
        }
    }
</p>

@using (Html.BeginForm("Search", "Products", FormMethod.Get))
{
    <p>
        Name: @Html.TextBox("name")
        Description @Html.TextBox("description")
        Price: <input type="number" min="0" step="1" name="price" id="price" />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufactor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufactor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>    
                    @{
                        if (Session["Customer"] != null && ((DefenceStore.Models.Customer)Session["Customer"]).IsAdmin)
                        {
                            @Html.ActionLink(".", "Edit", new { id = item.ID }, new { @class = "edit" });
                        }
                    }
                    @{
                        if (Session["Customer"] != null && ((DefenceStore.Models.Customer)Session["Customer"]).IsAdmin)
                        {
                            @Html.ActionLink(".", "Delete", new { id = item.ID }, new { @class = "delete" });

                        }
                    }
                    @Html.ActionLink(".", "Add", new { id = item.ID }, new { @class = "add" })                   
                    @Html.ActionLink(".", "Details", new { id = item.ID }, new { @class = "details" })
                    @Html.ActionLink(".", "ShareProduct", new { id = item.ID }, new { @class = "share" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                No Results Found!
            </td>
        </tr>
    }
</table>
