@model IEnumerable<DefenceStore.Models.Product>

<style>
    .col-container {
    display: table; 
    width: 100%; 
}

.col {
    display: table-cell;
}

</style>

<h2>Recommended</h2>
<div class="container">
    <div class="row match-to-row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="@Html.DisplayFor(modelItem => item.Image)">
                    <div class="caption">
                        <h3><a href="#">@Html.DisplayFor(modelItem => item.Name) </a></h3>
                        <p>Price : <strong>$ @Html.DisplayFor(modelItem => item.Price)</strong>  </p>
                        <p><a href="#">@Html.DisplayFor(modelItem => item.Desciption) </a></p>
                        <p>@Html.ActionLink("Add To Cart", "Add", "Products", new { id = item.ID }, new { @class = "btn btn-success" }) @Html.ActionLink("See Details", "Details", "Products", new { id = item.ID }, new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>